absl-py==1.4.0
astunparse==1.6.3
cachetools==4.2.4
certifi==2021.5.30
charset-normalizer==2.0.12
dataclasses==0.8
gast==0.3.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.48.2
h5py==2.10.0
idna==3.10
importlib-metadata==4.8.3
JPype1 @ file:///D:/Python/NLP_wiki/JPype1-0.6.3-cp36-cp36m-win_amd64.whl
Keras-Preprocessing==1.1.2
Markdown==3.3.7
numpy==1.19.5
oauthlib==3.2.2
opt-einsum==3.3.0
protobuf==3.19.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
requests==2.27.1
requests-oauthlib==2.0.0
rsa==4.9.1
scipy==1.4.1
six==1.17.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
typing_extensions==4.1.1
urllib3==1.26.20
Werkzeug==2.0.3
wincertstore==0.2
wrapt==1.16.0
zipp==3.6.0
